*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.innerContainer{
width: 100vw;
display: flex;
flex-wrap: wrap;
font-family: Arial, Helvetica, sans-serif;
}
nav{
    font-weight: 500;
    font-size: 10px;
    color: #3b3b3b;
    text-align: center;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    list-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
nav ul a{
    
    text-decoration: none;
    color: #3b3b3b;
   
}
nav ul a li div{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav ul a li div p{
    width: 100%;
}
nav ul a li{
    padding:5px;

}
.resume{
    border-left:1px solid #ccd5dd; 
    border-right:1px solid #ccd5dd; 
}
.contact{
    border-left:1px solid #ccd5dd;
}

nav .fa {
    padding: 3px;
    font-weight: 800;
    font-size: 18px;
}
nav a:hover{
    color: #64ce74;
}
.last div{
    border-bottom: none;
}
.pinfodiv{
    margin: auto;
}
.pinfo{
    width: 95vw;
    
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.mypic{
    height: 30vh;
 background-image: url('../imgs/pimg.jpg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 

}
.title{
    margin-top: 15px;
    font-size: 34px;
    color: #323232;
}
.subtitle{
    color: #64ce74;
    

}
.buts{
    display: flex;
    justify-content: center;
}
.buts button{
    background-color: #ffffff;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    border-top: 1px solid #ccd5dd;
    padding: 15px;
    margin: 8px;
    width: 200px;
}
.buts button:first-child{
    border-right: 0.5px solid #ccd5dd;
    margin-right: 0;
}
.buts button:last-child{
    border-left: 0.5px solid #ccd5dd;
    margin-left: 0;
}
.buts button:hover{
    color: #64ce74;
    border-color: #64ce74;
}
/* .layer1 ,.layer2{
    width: 50%;
} */
.account{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.account a{
text-decoration: none;
font-size: 15px;
color: #3b3b3b;
padding: 8px;
}
.account a:hover{
color: #64ce74;
}
.aboutMediv{
    line-height: 1.8em;  
 margin: auto;   
}
.aboutMe{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
   
}
.aboutMe h4{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #ccd5dd;
}
.aboutMe article{
    padding: 20px 20px 0px 20px;  
}
.green{
    color: #64ce74;

}
.aboutMe2div{
    width: 100%;
    line-height: 1.8em;
}
.aboutMe2div ul{
    list-style: none;
    padding: 10px;
}
.aboutMe2div ul li{
    width: 100%;
   display: flex;
   justify-content: flex-end;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccd5dd;
}
.aboutMe2div ul li:last-child{
    border-bottom: none;
}
.dot{
    margin-right: auto;
    background-color: #64ce74;
    color: #fff;
    padding: 3px;
    border-radius: 2px;
}
.myServices .fa{
    border: none;
    height: 60px;
    width: 60px;
    font-size: 32px;
    background-color:#64ce74;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}
b{
    display: block;
}
.seviceChild{
    margin: auto;
    width: 100%;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ccd5dd;
}
.seviceChild:last-child{
    border-bottom: none;
}
.quteh4,.qutep{
    text-align: left;
}
.qutep q{
display: block;
}
.Resume{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}
.Resume h4{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #ccd5dd;
}
.Resume h5{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #ccd5dd;
}
.Resume .fa{
    color: #64ce74;
    font-size: 20px;
}
.exper{
    padding: 25px;
}
.expertdate{
    padding: 1px 3px;
    margin: 10px;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #64ce74;
    color: #64ce74;
    border-radius: 3px;
}
.explace{
    color: rgb(105, 102, 102);
}
.skills{
width: 100%;

}
.skillsdetails span{
   color: #64ce74;
   font-weight: bold;

}
.skillsdetails div{
    padding: 25px;
}
.myWorks{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
 
}
.myWorks div{
    width: 100%;
}
.myWorks h4{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #ccd5dd;
}

.tabs{
    padding: 25px;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.tabs a{
    color: initial;
    text-decoration: none;
}
.tabs li:hover{
    color: #64ce74;
}
#pics ,#ved{
    width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.con{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.con div{
    width: 100%;
}
.con h4{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #ccd5dd;
}
.con form{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.map{
    padding: 25px;
}
.name ,.email ,.mesg{
    width: 100%;
    margin: 5px;
    border: 1px solid #64ce74;
    color: #64ce74;
}
.name ,.email {
    padding: 10px;
   
    
}
.mesg{
    padding: 20px;
}

.con form button{
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #64ce74;
}